<!DOCTYPE html>
<html>
<head>
    <title>demo</title>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> 注意生产环境路径 -->
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<div id="wrap">
    

    <div role="navigation" class="navbar navbar-default topnav">
        <div class="container">
            <div class="navbar-header">
    
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
    
                <a href="/" class="navbar-brand">
                    <img src="https://avatars0.githubusercontent.com/u/24352643?s=460&v=4" alt="">
                </a>
            </div>
    
            <div id="top-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="">文章</a>
                    </li>
    
                    <li class="">
                        <a href="">关于我</a>
                    </li>
    
                    
    
                    <!-- <li>
                        <a class="no-pjax" href="https://laravel-china.org/courses">教程</a>
                    </li> -->
    
    
                    <!-- <li class="nav-docs hidden-sm">
                        <a href="https://laravel-china.org/docs">文档</a>
                    </li> -->
    
                </ul>
    
                <div class="navbar-right">
    
                    <form method="GET" action="https://laravel-china.org/search" accept-charset="UTF-8" class="navbar-form navbar-left hidden-sm hidden-md">
                        <div class="form-group">
                            <input class="form-control search-input mac-style" placeholder="搜索" name="q" type="text" value="">
    
                        </div>
                    </form>
    
                    <ul class="nav navbar-nav github-login">
                        <a href="https://laravel-china.org/auth/login" class="btn btn-default login-btn no-pjax">
                            <i class="fa fa-user"></i>
                            登 录
                        </a>
                        <a href="https://laravel-china.org/auth/register" class="btn btn-default login-btn no-pjax">
                            <i class="fa fa-user-plus"></i>
                            注 册
                        </a>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>


    <div class="container main-container ">
        <div class="col-md-9 topics-index main-col">
            <div class="topic panel panel-default">
                <div class="infos panel-heading">
                    <h1 class="panel-title topic-title">
                        js基础问题
                    </h1>
                    <div class="meta inline-block">

                        <a href="">javascript</a>

                        <abbr title="" class="timeago"></abbr>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="content-body entry-content panel-body ">
                    <div class="markdown-body topic-content-big-font">
                        <h1 id="">类型判断</h1>
                        <blockquote>
                            <p>ES6 引入了一种新的原始数据类型Symbol，表示独一无二的值。它是 JavaScript 语言的第七种数据类型，前六种是：undefined、null、布尔值（Boolean）、字符串（String）、数值（Number）、对象（Object）。<br>
                                <em><font size="1">阮一峰《ECMAScript 6 入门》<a href="http://es6.ruanyifeng.com/#docs/symbol">symbol</a></font></em></p>
                        </blockquote>
                        <p>特别的 null == undefined 总是返回true. </p>
                        <blockquote>
                            <p>尽管null 和undefined 有这样的关系，但它们的用途完全不同。如前所述，无论在什么情况下都没有必要把一个变量的值显式地设置为undefined，可是同样的规则对null 却不适用。换句话说，只要意在保存对象的变量还没有真正保存对象，就应该明确地让该变量保存null 值。这样做不仅可以体现null 作为空对象指针的惯例，而且也有助于进一步区分null 和undefined。<br>
                                <em><font size="1">《JavaScript高级程序设计(第3版)》p-26</font></em></p>
                        </blockquote>
                        <p>也就是说null主要作用于对象，undefined主要用于基本类型。</p>
                        <h1 id="-1">作用域</h1>
                        <p>JS中作用域有：全局作用域、函数作用域。没有块作用域的概念。ES6中新增了块级作用域,与此同时到来的let和const,就是只能块作用域里访问。之前的var自然没有块作用域的概念。</p>
                        <h3 id="-2">一个老生常谈的代码：</h3>
                        <ul>
                            <li>下面代码中，由于闭包只能取得包含函数中的任何变量的最后一个值，所以控制台输出5，而不是0</li>
                        </ul>
                        <pre><code>var a = [];
for(var i = 0; i &lt; 5; i++){
    a[i] = function(){
        return i;
    }
}
console.log(a[0]());//5
</code></pre>
                        <ul>
                            <li>当然，可以通过函数传参（<font color="#dddd00">注意这里函数按值传参，所以创造了副本保存在内存中</font>），来保存每次循环的值</li>
                        </ul>
                        <pre><code>var a = [];
for(var i = 0; i &lt; 5; i++){
    a[i] = (function(j){//按值传递，创建副本
        return function(){
            return j;
        }
    })(i);
}
console.log(a[0]());//0
</code></pre>
                        <ul>
                            <li>let则更简洁，由于let循环有一个重新赋值的过程，相当于保存了每一次循环时的值</li>
                        </ul>
                        <pre><code>var a = [];
for(let i = 0; i &lt; 5; i++){
    a[i] = function(){
        return i;
    }
}
console.log(a[0]());//0
</code></pre>
                        <p>此外var命令会发生”变量提升“现象,let不存在“变量提升”。let不允许在相同作用域内，重复声明同一个变量。const,除了有块级作用于的限制，不存在变量提升，还有声明的变量不得改变值，一旦声明变量，就必须立即初始化，否则报错。</p>
                        <blockquote>
                            <p>const实际上保证的，并不是变量的值不得改动，而是变量指向的那个内存地址不得改动。对于简单类型的数据（数值、字符串、布尔值），值就保存在变量指向的那个内存地址，因此等同于常量。但对于复合类型的数据（主要是对象和数组），变量指向的内存地址，保存的只是一个指针，const只能保证这个指针是固定的，至于它指向的数据结构是不是可变的，就完全不能控制了。因此，将一个对象声明为常量必须非常小心。<br>
                                <em><font size="1">阮一峰《ECMAScript 6 入门》<a href="http://es6.ruanyifeng.com/#docs/let">let</a></font></em></p>
                        </blockquote>
                        <h1 id="-3">引用传递</h1>
                        <p>一般来讲，基础类型是值传递，JavaScript 不允许直接访问内存中的位置，
                            也就是说不能直接操作对象的内存空间。在操作对象时，实际上是在操作对象的引用而不是实的对象。为此，引用类型的值是按引用访问的。</p>
                        <p>容易疑惑的一点是，函数的参数的传递，<strong>ECMAScript 中所有函数的参数都是按值传递的</strong>。
                            比如<a href="https://stackoverflow.com/questions/518000/is-javascript-a-pass-by-reference-or-pass-by-value-language#">Is JavaScript a pass-by-reference or pass-by-value language?.</a></p>
                        <p>值得注意的一点： [1] == [1]返回的是false。因为数组属于引用类型，引用类型的比较，比较的是地址，左右虽然指向同一个数组对象（typeof [1] //"Object" ），但是在栈内存的地址是不一样的，所以不等，返回false。</p>
                        <h3 id="json">编写一个 json 对象的拷贝函数：</h3>
                        <p>JSON对象是ES5中引入的新的类型（支持的浏览器为IE8+），JSON对象parse方法可以将JSON字符串反序列化成JS对象，stringify方法可以将JS对象序列化成JSON字符串，借助这两个方法，也可以实现对象的深复制。</p>
                        <pre><code>var source = {
    name:"source",
    child:{
        name:"child"
    }
}
var target = JSON.parse(JSON.stringify(source));
//改变target的name属性
target.name = "target";
console.log(source.name);   //source
console.log(target.name);   //target
//改变target的child
target.child.name = "target child";
console.log(source.child.name);  //child
console.log(target.child.name);  //target child
</code></pre>
                        <p>代码的输出可以看出，复制后的target与source是完全隔离的，二者不会相互影响。</p>
                        <p>这个方法使用较为简单，可以满足基本的深复制需求，而且能够处理JSON格式能表示的所有数据类型，但是对于正则表达式类型、函数类型等无法进行深复制(而且会直接丢失相应的值)，同时如果对象中存在循环引用的情况也无法正确处理</p>
                        <p>通过递归实现一个copy，可以传入deep参数表示是否执行深复制：</p>
                        <pre><code>//util作为判断变量具体类型的辅助模块
   var util = (function(){
       var class2type = {};
       ["Null","Undefined","Number","Boolean","String","Object","Function","Array","RegExp","Date"].forEach(function(item){
           class2type["[object "+ item + "]"] = item.toLowerCase();
       })

       function isType(obj, type){
           return getType(obj) === type;
       }
       function getType(obj){
           return class2type[Object.prototype.toString.call(obj)] || "object";
       }
       return {
           isType:isType,
           getType:getType
       }
   })();

   function copy(obj,deep){
        //如果obj不是对象，那么直接返回值就可以了
       if(obj === null || typeof obj !== "object"){
           return obj;
       }
　　　　//定义需要的局部变脸，根据obj的类型来调整target的类型
       var i, target = util.isType(obj,"array") ? [] : {},value,valueType;
       for(i in obj){
           value = obj[i];
           valueType = util.getType(value);
　　　　　　　//只有在明确执行深复制，并且当前的value是数组或对象的情况下才执行递归复制
           if(deep &amp;&amp; (valueType === "array" || valueType === "object")){
               target[i] = copy(value);
           }else{
               target[i] = value;
           }
       }
       return target;
   }
</code></pre>
                    </div>
                </div>
            </div>




        </div>

        <div class="col-md-3 side-bar">
            <div class="panel panel-default corner-radius panel-active-users">
    <div class="panel-heading text-center">
        <h3 class="panel-title">标签</h3>
    </div>
    <div class="panel-body">
        <div class="users-label">

            <a class="users-label-item" href="https://laravel-china.org/users/5367" title="Ken - 努力努力再努力">
                 Ken
            </a>
            <a class="users-label-item" href="https://laravel-china.org/users/22455" title="zxc1462">
                <img class="avatar-small inline-block" src="https://pythoncaffcdn.phphub.org/uploads/images/201801/03/1/xJOU6N13zW.jpg"> zxc1462
            </a>
            

        </div>

    </div>
</div>

        </div>
        <div class="clearfix"></div>




    </div>
</div>
<script src="/public/javascripts/script.js"></script>
</body>
</html>