<!DOCTYPE html>
<html>
<head>
    <title>demo</title>
    <% include partion/_head.html %>
</head>
<body>
    <div id="wrap">
    <% include partion/nav.html %>
<div class="container main-container ">


    <div class="col-md-9 topics-index main-col">
        <div class="panel panel-default">
            <div class="panel-heading">
            
                <ul class="list-inline topic-filter">
            
                    <li class="popover-with-html" data-content="发布时间排序" data-original-title="" title="">
                        <a href="" class="active">最近</a>
                    </li>
                </ul>
            
                <div class="clearfix"></div>
            </div>
    
            <div class="jscroll">
                <div class="jscroll-inner">
                    <div class="panel-body remove-padding-horizontal">
                        <ul class="list-group row topic-list">
                            <li class="list-group-item ">
                                <a class="reply_count_area hidden-xs pull-right" href="">
                                    <div class="count_set">
                                       
            
                                        <abbr title="" class="timeago">2018-1-30</abbr>
                                    </div>
                                </a>
                           
        
    
                                <div class="infos">
            
                                    <div class="media-heading">
            
                                        <!-- <span class="hidden-xs label label-warning">置顶</span> -->
            
                                        <a href="post.html"
                                            title="js基础问题">
                                            js基础问题
                                        </a>
            
            
                                    </div>
            
                                </div>
            
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
 
    
    </div>

    <div class="col-md-3 side-bar">
        <% include partion/side.html %>
    </div>
    <div class="clearfix"></div>




</div>
    </div>
    <% include partion/_script.html %>
</body>
</html>